!!! 5
%html
  %head
    %title
      = @title
    %link(type="text/css" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet")
    %link(rel="stylesheet" href="/css/style.css" type="text/css")
    %script(type="text/javascript" src="/js/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js")
  %body
    %ul.nav
      %li
        %a(href="/")
          Home
      %li
        = Time.now.strftime("%H:%M:%S")
    .clear
    = yield 