body{margin:25px; font: 18px helvetica; non-serif;}
.alt{background-color:#ddd}
.map-display{font: 12px courier;}
.map-display span.space {float:left; width: 15px;padding-left:5px; padding-right:5px; }
.occupied {color: red;}
ul.nav{list-style:none;}
ul.nav li{float: left; min-width: 100px;}
.clear{clear:both;}